<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @provider.product_id %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @provider.quantidade %>
</p>

<p>
  <strong>Price:</strong>
  <%= @provider.price %>
</p>
