<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<center><%= link_to "Hacer el registro",new_user_registration_path,:class => "btn btn-info btn-lg btn-block" %></center>
		</div>

		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<center><%= link_to "Entrar como usuario",new_user_session_path,:class => "btn btn-primary btn-lg btn-block" %></center>
			<br>
			<center><%= link_to "Entrar como Admin",new_admin_session_path,:class => "btn btn-primary btn-lg btn-block" %></center>
		</div>
	</div>
</div>